node_modules
.idea
dist/
.vscode/*
!.vscode/settings.json
.tsbuildinfo
*.tar.gz
*.tgz
/cache/
/artifacts/
/typechain-types/
/test/projects/*/cache/
/test/projects/*/artifacts/
/test/projects/*/typechain-types/
**/ignition/deployments